.navebar{
   
      display: flex;
      align-items: center;
      justify-content: space-between;
      
}
.menu{
      width: 50%;
    
      display: flex;
      justify-content: space-around;
      align-items: center;
}
.logo{
      font-weight: bold;
      font-size: 2em;
}