.achievements {

  padding: 2em;
  border-radius: 1em;
  margin-top: 2em;
 
}

.achievements h1 {
  font-size: 2em;
  margin-bottom: 1em;

}

.achievements-list, .certificates-list {
  display: flex;
  gap: 1.5em;
  flex-wrap: wrap;
}

.achievement-card, .certificate-card {
  flex: 1 1 25em;
  padding: 1.5em;
  border-radius: 0.8em;
  transition: transform 0.2s;
}


.certificate-card a {
  display: inline-block;
  margin-top: 0.8em;
  font-weight: 600;
  text-decoration: none;
  padding: 0.4em 0.8em;
  border-radius: 0.5em;
 
}
